body {
  background-color: #f8f8f8;
  font-family: TT Lakes;
  padding: 0;
  margin: 0;
}
.brands {
}
.brands__caption {
  box-sizing: border-box;
  background: linear-gradient(-270deg, #f8f8f8 0%, #ffffff 98.61%);
  height: max-content;
  max-width: 100%;
  width: 100vw;
  border-top: 1px solid #d9fff5;
  font-family: TT Lakes;
  font-size: 1.141rem;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
  font-weight: lighter;
  vertical-align: middle;
  padding: 2%;
}
.inner_wrapper {
  width: 96%;
  transform: translateX(2%);
}
.brands__container {
  padding: 0;
  min-width: 22.142rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: min-content;
  overflow: hidden;
}
.brands__link {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .brands__container {
    overflow: visible;
    height: 200px;
  }
  .brands__list {
    flex-wrap: wrap;
    column-gap: 2rem;
  }
}
.swiper {
}
.brands__minimized {
  height: max-content;
}
.brands__list {
  padding: 0;
  display: flex;
  align-items: flex-start;
  row-gap: 16px;
}
.swiper-wrapper {
}
.brands__list-item {
  list-style-type: none;
}
.swiper-slide {
}
.button-slider {
  width: 17.142rem;
  height: 5.14rem;
  padding: 0rem 1.14rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 1.14rem;
}
.button-slider__logo {
  width: 55%;
}
.button-slider__logo_sm {
  width: 25%;
}

.brands__container .swiper-pagination {
  bottom: -4px !important;
}
.brands__container .swiper-pagination-bullet {
  background-color: #7e7e82;
}

.brands__button {
  font-family: TT Lakes;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
}
.brands__button::before {
  content: url("/img/icon.svg");
  margin-right: 17px;
  display: inline-block;
  transition: 0.5s;
}
.brands__button--active::before {
  transform: rotate(-180deg);
}
.button {
  background: transparent;
  border: none;
}
